*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerApp{
    display: flex;
}

.navegation{
    display: flex;
    width: 25%;
    height: 100vh;
    position: sticky;
    top: 0;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    gap: 1.5em;
}

.navegation .line{
    width: 75%;
    height: 1px;
    background-color: #000;
    
}

.navegation .navLater{
    display: flex;
    gap: 2em;
    flex-direction: column;
    width: fit-content;
}

.navegation .navLater a{
    font-size: 1.1em;
    text-decoration: none;
    color: #000;
    transition: .3s;

    display: flex;
    align-items: center;
}

.navegation .navLater a:hover{
    transform: scale(1.1);
}

.navegation .navLater a.logOut{
    position: absolute;
    bottom: 50px;
}

.navegation .sectionNav{
    align-items: center;
}

.navegation .navLater a{
    width: fit-content;
}

main{
    width: 100%;
    background-color: #0d253f;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 2em;
}

.containerCards{
    width: 100%;
    background-color: #0d253f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 2em;
}

.containerCards h2{
    width: 100%;
    text-align: center;
}

.containerCards .card{
    flex-basis: 150px;
    flex-grow: 1;
    flex-shrink: 2;
    position: relative;
    transition: .5s;
    border-radius: 1em;
    overflow: hidden;
}

.card img{
    width: 100%;
    object-fit: cover;
    border-radius: 1em;
    transition: .5s;
    cursor: pointer;
}

.card:hover{
    flex-grow: 2;
}


.pagination{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 5em;
}

.pagination button{
    padding: .5em 1em;
    font-size: 1.2em;
    cursor: pointer;
}

.pagination button.active{
    background-color: #000;
    color: #fff;
}

.pagination p{
    font-size: 1.8em;
}